<div id="sidebar">  

  <header>
    <style>
      img {
        border-radius: 50%;
          }  </style>
   

    <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">
    <image id="profileImage" src="/blog/images/profile1.jpg"  style="width:100px;margin-left: 50px;";/>
      <a href="{{ "/" | relative_url }}">
        {% unless page.url == "/" %}
          <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
        {% endunless %}
        {{ site.title }}
      </a>
    </{% if page.layout == "index" %}h1{% else %}div{% endif %}>
    <p class="lead">{{ site.description }}</p>
  </header>
  {% include sidebar-nav-links.html %}

  {% if site.version %}
    <span class="site-version">Currently v{{ site.version }}</span>
  {% endif %}

  {% include sidebar-icon-links.html %}
  {% include copyright.html %}
</div>